html
    head
        title hello pug
    body
        //command line.
        - var temp = 'değişken Tanımlama'
        - var name = 'hkdemircan'

        br
        | Temp : #{temp.toLowerCase()}
        br
        =name.toUpperCase()
        hr
        =surname

        hr
        - var number = 12
        if !number
            | not found number.
        else if number === 12
            | number is 12
        else
            | number not same 12
        br
        span(style="color:white; background-color:red")
            | Hello #{name}

        br
        include other.pug
        br
        include footer.pug

        hr

        ul
            each val, index in ['zero', 'one', 'two']
                li= index + ': ' + val
